/* write your override styles here */
.tag-1{
    display: none;
}
#tag-2{
    display: none;
}
#tag-3{
    display: none;
}
#wall{
    display: none;
}
#wall #tag-2{
    display: none;
}
#wall #tag-2 {
    background: url(../images/tag-2.png) no-repeat;
    z-index: 6;
    display: none;
